.navigation {
  position: relative;
  z-index: 100;

  .menu-button {
    letter-spacing: 3px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    user-select: none;
    height: 70px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &:active {
      transform: scale(0.95);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    }
  }

  .navigation-inner {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    min-height: 300px;
    min-width: 800px;
    opacity: 0;
    animation: fadeSlideIn 0.4s ease forwards;

    @media (max-width: 850px) {
      min-width: 500px;
    }

    @media (max-width: 526px) {
      min-width: 300px;
      background: rgba(0, 0, 0, 0.233);
    }

    @media (max-width: 420px) {
      min-width: 250px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      gap: 30px;

      li {
        background: rgba(224, 224, 224, 0.904);
        border-radius: 10px;
        height: 50px;
        min-width: 200px;
        cursor: pointer;
        transition: 0.4s ease-in-out;

        @media (max-width: 850px) {
          min-width: 150px;
        }

        &:hover {
          scale: 1.1;
          background: rgb(228, 228, 228);
          font-weight: bold;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          letter-spacing: 2px;
          font-size: 1.5rem;
          color: white;
          text-decoration: none;
          transition: color 0.2s;
          height: 100%;
          width: 100%;

          @media (max-width: 850px) {
            font-size: 1.1rem;
          }

          &:hover {
            color: #ffb347;
          }
        }
      }
    }
  }
}

.navigation-simple {
  padding: 20px 20px;

  .menu-button {
    background-color: #52525250;
    color: white;
    border: 2px solid #000000;

    &:hover {
      background-color: #8a8a8a;
      color: white;
    }
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-15px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
  }
}

.navigation-shopp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2000;

  padding: 30px;
  border-radius: 15px;

  @media (max-width: 450px) {
    width: 20px;
    right: 20px;
  }

  .menu-button {
    background: #ffffff88;
    border: 3px solid #eacfff;
    color: white;
    box-shadow: 0 0 15px rgba(179, 117, 238, 0.6);

    @media (max-width: 450px) {
      width: 30px;
      height: 40px;
      color: transparent;

      background-image: url("/img/exit.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      box-shadow: none;
    }

    &:hover {
      background: #eacfff;
      color: #4b0082;
      scale: 1.05;

      @media (max-width: 450px) {
        background-image: url("/img/exit.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        color: transparent;
        background-color: transparent;
        border: none;
        box-shadow: none;
      }
    }
  }
}

.navigation-carousel-film {
  @media (max-width: 750px) {
    display: flex;
    justify-content: center;
  }
}
