.cinerate {
  .cinerate-inner {
    .top-bar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;
      margin: 100px auto;
      border: 2px solid rgb(168, 255, 168);
      width: 60%;
      border-radius: 30px;
      padding: 20px 0;
      @media (max-width: 700px) {
        width: 80%;
      }
      @media (max-width: 560px) {
        width: 95%;
      }
      h1 {
        font-size: 2rem;
      }

      button {
        padding: 10px 16px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        letter-spacing: 1px;
      }

      input {
        background: rgba(206, 255, 206, 0.514);
        border: rgba(128, 128, 128, 0.329) 1px solid;
        outline: 0lvh;
        height: 50px;
        width: 40%;
        border-radius: 10px;
        padding-left: 10px;
        &::placeholder {
        }

        &:focus {
          outline: none;
        }
      }
    }

    .movies-grid {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 70px auto;
      gap: 60px;
    }
  }
}
