.clothing-store {
  overflow-x: hidden;
  .chat {
    cursor: pointer;
    border: 1px solid white;
    background: black;
    position: fixed;
    bottom: 30px;
    right: 0;
    z-index: 100000;
    .inner-chat {
      padding: 10px 30px;
      color: white;
      display: flex;
      gap: 8px;

      #chat-icon {
        font-size: 1.5rem;
        color: rgb(216, 216, 216);
      }
      p {
        padding-top: 3px;
        display: flex;
        align-items: flex-start;
        font-size: 0.8rem;
        color: rgb(216, 216, 216);
      }
    }
  }
  .chat-open {
    width: 300px;
    display: grid;
    grid-template-rows: 10% 77% 13%;
    height: 425px;
    border: 1px solid grey;
    z-index: 1000000;
    background: white;
    position: fixed;
    bottom: 30px;
    right: 0;
    .chat-up {
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      button {
        font-size: 1rem;
        background: transparent;
        border: none;
        color: rgb(68, 68, 68);
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }
      button:last-child {
        font-size: 1.3rem;
      }
    }
    .discussion-area {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .text-discussion-area {
        color: rgb(109, 109, 109);
        font-size: 0.8rem;
        padding: 0 22px;
        text-align: center;

        padding-bottom: 20px;
        letter-spacing: 1px;

        span {
          text-decoration: underline;
        }
      }
    }
    .message {
      border-top: 1px solid rgb(190, 190, 190);
      display: flex;
      align-items: center;
      justify-content: center;
      #message-chat {
        border: none;
        outline: none;
        width: 80%;
      }
    }
  }
  .delivery-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3000;
  }

  .delivery-ticker {
    display: flex;
    white-space: nowrap;
    animation: scroll 15s linear infinite;
  }

  .delivery-ticker span {
    margin-right: 50px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  header {
    z-index: 1000000;
    top: 0;
    position: fixed;
    padding: 20px 40px;
    width: 100vw;
    cursor: pointer;
    background: white;

    height: 100px;
    @media (max-width: 383px) {
      padding: 20px 10px;
    }

    .nav-fixed {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 1050px) {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 200px;
      }
      @media (max-width: 950px) {
        gap: 140px;
      }
      @media (max-width: 860px) {
        gap: 100px;
      }

      .menu-left {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 325px) {
          gap: 20px;
        }
        @media (max-width: 308px) {
          gap: 10px;
        }

        #menu-drawer {
          cursor: pointer;
        }

        .NameBrand {
          h1 {
            font-family: "Great Vibes", cursive;
            font-size: 3rem;
          }
        }
      }

      .menu-right {
        width: 40%;
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 790px) {
          width: 60%;
          padding-left: 80px;
        }
        @media (max-width: 700px) {
          padding-left: 40px;
        }

        .divInputSearch1 {
          position: relative;
          width: 100%;
          max-width: 350px;
          min-width: 270px;

          input {
            width: 100%;
            background: rgb(241, 241, 241);
            border: none;
            outline: none;
            border-radius: 20px;
            height: 40px;
            padding: 0 15px;

            &::-webkit-search-cancel-button,
            &::-webkit-search-decoration,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
              display: none;
            }
            @media (max-width: 645px) {
              display: none;
            }
          }

          #iconSearch1 {
            height: 20px;
            width: 20px;
            color: rgb(73, 73, 73);
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right: 10px;
            @media (max-width: 645px) {
              width: 35px;
              height: 35px;
              right: 50px;
            }
            @media (max-width: 581px) {
              width: 30px;
              height: 30px;
              right: 100px;
            }
            @media (max-width: 501px) {
              width: 30px;
              height: 30px;
              right: 160px;
            }
            @media (max-width: 415px) {
              width: 25px;
              height: 25px;
              right: 180px;
            }
            @media (max-width: 383px) {
              display: none;
            }
          }
          .search-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 12%;
            background: rgb(213, 223, 238);
            z-index: 9999;

            display: none;
          }

          .search-overlay.active {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .search-box {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 80%;
            height: 100%;

            #inputSearchOverlay {
              display: flex !important;
              width: 100%;
              height: 50px;
              outline: none;
              border: 1px solid white;
              background: rgb(213, 223, 238);

              &:focus {
                background: rgba(221, 196, 179, 0.452);
              }
            }
          }

          .close-search {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
        .three-icons {
          display: flex;
          gap: 20px;
          color: rgb(73, 73, 73);

          @media (max-width: 790px) {
            display: none;
          }
        }
      }
    }
  }

  /* DRAWER */
  .drawer {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &.open {
      transform: translateX(0);
    }

    .inner-drawer {
      padding: 0 50px;
      padding-bottom: 30px;
      @media (max-width: 544px) {
        padding: 0 20px;
      }
      @media (max-width: 360px) {
        width: 100vw;
        padding-bottom: 30px;
      }

      .up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 170px;
        position: sticky;
        top: 0;
        background: white;
        z-index: 10;
        padding-bottom: 10px;
        gap: 10px;

        button {
          background: white;
          border: none;
          font-size: 1.6rem;
          color: grey;
          cursor: pointer;
        }
        h2 {
          text-align: center;
          border-bottom: 2px solid black;
        }
        .divInputSearch2 {
          position: relative;
          margin-top: 20px;
          border-bottom: 2px black solid;
          width: 80%;
          height: 30px;
          .inputSearch2 {
            width: 100%;
            border: none;
            outline: none;
            &::-webkit-search-cancel-button,
            &::-webkit-search-decoration,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
              display: none;
            }
          }
          #iconSearch2 {
            height: 17px;
            width: 17px;
            color: rgb(73, 73, 73);

            position: absolute;
            right: 10px;
            bottom: 8px;
          }
        }
      }

      .images-part {
        margin-top: 20px;
        display: flex;

        img {
          height: 170px;
          width: 140px;
          object-fit: cover;
          @media (max-width: 544px) {
            height: 130px;
            width: 100px;
          }
          @media (max-width: 420px) {
            height: 120px;
            width: 90px;
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;

        li {
          display: flex;
          align-items: center;
          gap: 20px;
          letter-spacing: 3px;
          list-style-type: none;
          font-weight: bold;
          font-size: 1.5rem;
          font-family: "Bodoni Moda", Arial, Helvetica, sans-serif;
          cursor: pointer;
          position: relative;
          @media (max-width: 544px) {
            font-size: 1.1rem;
            letter-spacing: 1px;
          }

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0%;
            background-color: black;
            transition: width 0.3s ease;
          }

          &:hover::before {
            width: 22%;
          }
          p {
            font-size: 0.8rem;
          }
        }
        #li-red {
          color: #ea0029;
        }
      }
    }
  }
  .carousel-section {
    cursor: pointer;
    height: 720px;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media (max-width: 950px) {
      height: 600px;
    }
    @media (max-width: 750px) {
      height: 500px;
    }
    @media (max-width: 550px) {
      height: 350px;
    }
    @media (max-width: 450px) {
      height: 270px;
    }
    .three-dots-carousel {
      align-items: center;
      justify-content: center;
      display: flex;
      position: absolute;
      z-index: 300000;
      bottom: 50px;
      gap: 18px;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;

      span {
        border-radius: 15px;
        width: 15%;
        height: 2px;
        background: white;
      }
    }
    .carousel-player {
      padding: 8px 12px;
      background: rgba(0, 0, 0, 0.432);
      border-radius: 30px;
      position: absolute;
      right: -10px;
      bottom: 40px;

      transform: translateX(-50%);
      display: flex;
      gap: 20px;
      z-index: 10;
      @media (max-width: 700px) {
        right: -50px;
      }
    }

    .player-icon {
      color: white;
      width: 18px;
      height: 18px;
      cursor: pointer;

      transition: transform 0.2s ease;

      @media (max-width: 700px) {
        height: 15px;
        width: 15px;
      }
    }

    .player-icon:hover {
      transform: scale(1.2);
    }

    .carousel-wrapper {
      display: flex;
      height: 100%;

      width: 400%;
      transition: transform 1s ease-in-out;
    }

    .each-part-carousel {
      flex: 0 0 25%;
      display: flex;
      height: 100%;

      .big-image {
        position: relative;
        flex: 0 0 50%;
        height: 100%;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .little-text-left {
          display: flex;
          flex-direction: column;
          gap: 12px;
          color: white;
          position: absolute;
          bottom: 40px;
          left: 40px;
          h3 {
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 2rem;
            @media (max-width: 530px) {
              font-size: 1.7rem;
            }
            @media (max-width: 440px) {
              font-size: 1.4rem;
            }
          }
          p {
            text-decoration: underline;
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .informations-1 {
    color: white;
    background: #000000;
    padding: 50px 30px;
    .text-informations {
      margin-top: 20px;
    }
  }
  .big-images-section {
    .part {
      display: grid;
      grid-template-columns: 50% 50%;
      height: 850px;
      @media (max-width: 1200px) {
        height: 650px;
      }
      @media (max-width: 1000px) {
        height: 550px;
      }
      @media (max-width: 850px) {
        height: 350px;
      }
      @media (max-width: 550px) {
        height: 250px;
      }
      .big-image {
        display: flex;
        align-items: flex-end;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .little-text-image {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: white;
          margin-left: 30px;
          margin-bottom: 30px;

          h3 {
            font-size: 2.5rem;
            @media (max-width: 530px) {
              font-size: 1.7rem;
            }
            @media (max-width: 440px) {
              font-size: 1.4rem;
            }
          }
          p {
            font-size: 0.9rem;
            text-decoration: underline;
          }
        }
      }
    }
    .part-2 {
      .jackets {
        background-position: right;
      }
    }
    .part-3 {
      height: 600px;
      @media (max-width: 1200px) {
        height: 550px;
      }
      @media (max-width: 1000px) {
        height: 450px;
      }
      @media (max-width: 850px) {
        height: 350px;
      }
      @media (max-width: 550px) {
        height: 250px;
      }
    }
    .part-4 {
      height: 600px;
      @media (max-width: 1200px) {
        height: 550px;
      }
      @media (max-width: 1000px) {
        height: 450px;
      }
      @media (max-width: 850px) {
        height: 350px;
      }
      @media (max-width: 550px) {
        height: 250px;
      }
      .img-tops1 {
        background-position: top;
      }
    }
    .inserted-information {
      padding: 20px 0;
      align-items: center;
      display: grid;
      grid-template-columns: 50% 50%;
      font-size: 2rem;
      font-weight: bold;

      @media (max-width: 550px) {
        font-size: 1.5rem;
      }
      @media (max-width: 450px) {
        font-size: 1.2rem;
      }
      .text-right {
        padding-left: 30px;
      }
      .text-left {
        padding-left: 30px;
      }
    }
  }

  .collective-section {
    height: 530px;
    padding: 40px 60px;
    background: #2f6fb3;
    display: grid;
    grid-template-columns: 70% 30%;

    @media (max-width: 1050px) {
      height: 400px;
      grid-template-columns: 60% 40%;
    }
    @media (max-width: 830px) {
      grid-template-columns: 70% 30%;
    }
    @media (max-width: 700px) {
      grid-template-columns: 100%;
      padding: 40px 20px;
    }

    .grid-section {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    .grid {
      width: 900px;
      height: 450px;
      display: grid;

      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);

      gap: 10px;

      @media (max-width: 1050px) {
        height: 300px;
      }
      @media (max-width: 600px) {
        height: 250px;
      }
      @media (max-width: 430px) {
        height: 210px;
      }
      * {
        min-width: 0;
        min-height: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      img:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }

      img:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
      img:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
      img:nth-child(4) {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
      }
      img:nth-child(5) {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
      }

      img:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
      }

      img:nth-child(7) {
        grid-column: 4 / 6;
        grid-row: 2 / 4;
      }

      img:nth-child(8) {
        grid-column: 6 / 7;
        grid-row: 2 / 3;
      }

      img:nth-child(9) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      img:nth-child(10) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }

      img:nth-child(11) {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
      }

      img:nth-child(12) {
        grid-column: 6 / 7;
        grid-row: 3 / 4;
      }
    }

    .right-part-collective-section {
      padding-left: 40px;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: white;

      @media (max-width: 1050px) {
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 30px;
      }
      @media (max-width: 700px) {
        display: none;
      }

      h1 {
        font-size: 2.3rem;
        @media (max-width: 830px) {
          font-size: 1.9rem;
        }
      }

      p {
        font-size: 1.1rem;
      }
      h2 {
        text-decoration: underline;
        font-size: 1.4rem;
        @media (max-width: 830px) {
          font-size: 1.2rem;
        }
      }
    }
  }
  .interactive-section {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    h1 {
      font-size: 2.1rem;
      padding: 70px 30px 30px;
    }
    .interactive-wrapper {
      position: relative;

      .buttonLeft,
      .buttonRight {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        border: none;
        border-radius: 50%;
        padding: 15px;
        cursor: pointer;
        font-size: 1.5rem;
      }

      .buttonLeft {
        left: 10px;
      }
      .buttonRight {
        right: 10px;
      }
    }

    .carousel-interactive-section {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 20px;
      padding: 0 30px;

      scrollbar-width: none;

      @media (max-width: 450px) {
        padding: 0;
        gap: 0;
      }
      &::-webkit-scrollbar {
        display: none;
      }

      .buttonLeft,
      .buttonRight {
        z-index: 10;
        opacity: 1;
        transition: 0.3s;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        border: none;
        padding: 15px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        font-size: 1.5rem;
      }
      .buttonLeft {
        left: 10px;
      }
      .buttonRight {
        right: 10px;
      }

      &:hover .buttonLeft,
      &:hover .buttonRight {
        opacity: 1;
      }

      .each-column-full {
        flex: 0 0 calc(25% - 15px);
        display: flex;
        flex-direction: column;

        @media (max-width: 1200px) {
          flex: 0 0 calc(33.33% - 15px);
        }
        @media (max-width: 900px) {
          flex: 0 0 calc(50% - 15px);
        }
        @media (max-width: 600px) {
          flex: 0 0 calc(80% - 15px);
        }
        @media (max-width: 450px) {
          flex: 0 0 100vw;
        }

        .each-column-interactive {
          position: relative;
          width: 100%;
          aspect-ratio: 4/5;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }

          .overlay-sizes {
            background: rgba(255, 255, 255, 0.53);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40%;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 15px;

            .choice-sizes {
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              span {
                background: white;
                padding: 3px 6px;
                border-radius: 4px;
                font-size: 0.8rem;
              }
            }
          }
        }

        &:hover .each-column-interactive .overlay-sizes {
          opacity: 1;
          visibility: visible;
        }

        .title-and-prices {
          margin-top: 10px;
          h5 {
            color: black;
            font-size: 1rem;
            margin: 0 0 5px;
          }
          .price {
            font-size: 0.9rem;
            color: #333;
            margin: 0;
          }
        }
      }
    }
  }
  .chooseYourLook {
    height: 530px;
    padding: 40px 60px;
    background: black;
    display: grid;
    grid-template-columns: 70% 30%;
    @media (max-width: 1050px) {
      height: 400px;
    }
    @media (max-width: 600px) {
      grid-template-columns: 100%;
      padding: 40px 20px;
    }
    #grid-section {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      #grid {
        width: 900px;
        height: 450px;
        display: grid;

        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);

        gap: 10px;

        @media (max-width: 1050px) {
          height: 300px;
        }
        @media (max-width: 600px) {
          height: 250px;
        }

        * {
          min-width: 0;
          min-height: 0;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }

        img:nth-child(1) {
          grid-column: 1 / 3;
          grid-row: 1 / 3;
        }

        img:nth-child(2) {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
        }
        img:nth-child(3) {
          grid-column: 4 / 5;
          grid-row: 1 / 2;
        }
        img:nth-child(4) {
          grid-column: 5 / 6;
          grid-row: 1 / 2;
        }
        img:nth-child(5) {
          grid-column: 6 / 7;
          grid-row: 1 / 2;
        }

        img:nth-child(6) {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
        }

        img:nth-child(7) {
          grid-column: 4 / 6;
          grid-row: 2 / 4;
        }

        img:nth-child(8) {
          grid-column: 6 / 7;
          grid-row: 2 / 3;
        }

        img:nth-child(9) {
          grid-column: 1 / 2;
          grid-row: 3 / 4;
        }

        img:nth-child(10) {
          grid-column: 2 / 3;
          grid-row: 3 / 4;
        }

        img:nth-child(11) {
          grid-column: 3 / 4;
          grid-row: 3 / 4;
        }

        img:nth-child(12) {
          grid-column: 6 / 7;
          grid-row: 3 / 4;
        }
      }
    }
    #right-part {
      color: white;
      text-decoration: to-upper-case($string: "choose ");
      @media (max-width: 1050px) {
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 30px;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
  .scrolling-banner-part {
    height: 200px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    background: black;
    .scrolling-banner {
      padding: 40px 0;
      border-top: white 2px solid;
      border-bottom: white 2px solid;
      width: 100%;
      height: 40px;
      background: black;
      color: white;
      overflow: hidden;
      display: flex;
      align-items: center;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

      @media (max-width: 400px) {
        padding: 20px 0;
      }
    }

    .inner-scrolling-banner {
      background: #000000;
      color: white;
      display: flex;
      white-space: nowrap;
      animation: scroll 15s linear infinite;
    }

    .inner-scrolling-banner span {
      margin-right: 50px;
      background: #000000;
      color: white;
      font-size: 1.9rem;
      @media (max-width: 600px) {
        font-size: 1.4rem;
      }
      @media (max-width: 400px) {
        font-size: 1.2rem;
      }
    }

    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  .subscription {
    background: #000000;
    padding: 30px 140px;
    display: grid;
    grid-template-columns: 55% 45%;
    color: white;
    @media (max-width: 880px) {
      display: flex;
      flex-direction: column;
      padding: 30px 100px;
      text-align: center;
      gap: 70px;
    }
    @media (max-width: 500px) {
      padding: 30px 30px;
    }

    .left-part {
      gap: 10px;
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
    .right-part {
      padding-left: 140px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media (max-width: 880px) {
        padding-left: 0;
      }
      #inputMail {
        cursor: pointer;
        font-size: 1rem;
        outline: none;
        background-color: black;
        border: none;
        border-bottom: 1px solid white;
        width: 100%;
        padding-left: 13px;
        padding-bottom: 10px;

        &::placeholder {
          color: white;
        }
        &:focus {
          color: white;
        }
      }
      .submit {
        cursor: pointer;
        border: 1px solid white;
        letter-spacing: 1px;
        color: white;
        width: 100%;
        background: #1b1a18;
        padding: 17px 10px;
        border-radius: 40px;
      }
      .unsubscribe {
        cursor: pointer;
        font-size: 0.7rem;
        text-decoration: underline;
      }
    }
  }
  .little-information {
    font-size: 0.8rem;
    padding: 35px 0 35px 140px;

    @media (max-width: 820px) {
      padding: 35px 100px;
      text-align: center;
    }
    @media (max-width: 500px) {
      padding: 30px 30px;
    }
  }

  footer {
    padding-bottom: 70px;
    background: black;
    color: white;
    .information-footer {
      padding-left: 140px;
      padding-top: 30px;
      padding-right: 180px;

      @media (max-width: 820px) {
        padding-top: 30px;
        padding-left: 140px;
        padding-right: 140px;
        text-align: center;
      }
      @media (max-width: 500px) {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
      }

      h3 {
        font-size: 1.4rem;
      }
      p {
        margin-top: 17px;
        font-size: 0.9rem;
        span:first-of-type {
          font-weight: bold;
        }

        span:not(:first-of-type) {
          text-decoration: underline;
        }
      }
    }
    .nav-footer {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      list-style: none;
      border-bottom: 1px #ffffff61 solid;
      padding: 0 30px;
      @media (max-width: 1430px) {
        padding: 0 0;
        grid-template-columns: repeat(7, 1fr) 2fr;
      }
      @media (max-width: 820px) {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        border-bottom: 0;
        padding: 0 20px;
      }

      li {
        font-size: 0.8rem;
        padding: 8px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.6s;
        &:hover {
          background: white;
          color: black;
          font-weight: bold;
        }
        @media (max-width: 820px) {
          flex: 1 1 200px;
          border: 1px solid white;
        }
      }
      li:last-child {
        display: flex;
        gap: 4px;

        .barre {
          height: 100%;
          width: 2px;
          background: white;
          transition: background 0.6s;
        }

        &:hover .barre {
          background: rgba(0, 0, 0, 0.63);
        }
        &:hover .country1 {
          text-decoration: underline;
        }
      }
    }
    .logo-brand {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 70px;
      .logo {
        text-align: center;
        font-size: 17rem;
        font-family: "Great Vibes", cursive;

        @media (max-width: 1450px) {
          font-size: 16rem;
        }
        @media (max-width: 1300px) {
          font-size: 14rem;
        }
        @media (max-width: 1180px) {
          font-size: 12rem;
        }
        @media (max-width: 1000px) {
          font-size: 10rem;
        }
        @media (max-width: 850px) {
          font-size: 8rem;
        }
        @media (max-width: 680px) {
          font-size: 6rem;
        }
        @media (max-width: 530px) {
          font-size: 5rem;
        }
        @media (max-width: 430px) {
          font-size: 4rem;
        }
        @media (max-width: 350px) {
          font-size: 3.5rem;
        }
      }
      .copyright {
        font-size: 0.8rem;
      }
    }
  }
}
