.guess-the-movie {
  position: relative;
  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(45deg, #fff 25%, #57ecec 45%, #e23737 75%, #fff 75%),
      linear-gradient(45deg, #fff 25%, #000 25%, #000 75%, #fff 75%);
    background-size: 40px 40px;
    background-position:
      0 0,
      20px 20px;
    opacity: 0.4;
    z-index: 0;
  }

  .container-guess-the-movie {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
  }

  .start-screen {
    background: #414040de;
    color: white;
    padding: 2rem;
    border-radius: 1rem;

    button {
      margin-top: 1rem;
      padding: 0.8rem 1.5rem;
      background: #e9907a;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background: #0056b3;
      }
    }
  }

  .box-quiz {
    background: #414040de;
    color: white;
    border-radius: 1rem;
    padding: 2rem;

    .timer.urgent {
      color: red;
      animation: blink 0.8s infinite alternate;
    }

    @keyframes blink {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.3;
      }
    }

    .quiz-image img {
      width: 500px;
      height: 350px;
      object-fit: cover;
      border-radius: 10px;
    }

    .quiz-options {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;

      button {
        background: #444;
        color: white;
        padding: 0.8rem 1.5rem;
        border-radius: 8px;
        border: none;
        cursor: pointer;

        &:hover {
          background: #666;
        }
      }
    }

    .end-block {
      margin-top: 20px;
      padding: 20px;
      background: rgba(231, 132, 132, 0.5);
      border-radius: 10px;
    }
  }
}
