.home {
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1.5s ease-in-out;

  display: flex;
  flex-direction: column;
  gap: 200px;
  align-items: center;

  @media (max-width: 700px) {
  }

  @media (max-width: 527px) {
    min-height: 120vh;
    gap: 100px;
  }

  h1 {
    color: white;
    margin-top: 60px;
    font-size: 5rem;
    letter-spacing: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    @media (max-width: 650px) {
      font-size: 4rem;
    }

    @media (max-width: 530px) {
      font-size: 3.2rem;
    }

    @media (max-width: 350px) {
      font-size: 2.7rem;
    }
  }
}
