* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Great Vibes";
  src: url("/src/assets/fonts/GreatVibes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("/src/assets/fonts/BodoniModa_9pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
